JavaSE-cours/src/xml/note2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="to">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Jani"/>
				<xs:enumeration value="Tove"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="note">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="to"/>
				<xs:element ref="from"/>
				<xs:element ref="heading"/>
				<xs:element ref="body"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="501"/>
						<xs:enumeration value="502"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="messages">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="note" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="heading">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Re: Reminder"/>
				<xs:enumeration value="Reminder"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="from">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Jani"/>
				<xs:enumeration value="Tove"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="body">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Don&apos;t forget me this weekend!"/>
				<xs:enumeration value="I will not"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
