JavaSE-cours/src/xml/note2.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2013 (http://www.altova.com)-->
<!ELEMENT to (#PCDATA)>
<!ELEMENT note ((to, from, heading, body))>
<!ATTLIST note
	id (502 | 501) #REQUIRED
>
<!ELEMENT messages ((note+))>
<!ELEMENT heading (#PCDATA)>
<!ELEMENT from (#PCDATA)>
<!ELEMENT body (#PCDATA)>
